In [5]:
import pandas as pd

data = pd.read_json("https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/velib-emplacement-des-stations/exports/json?lang=fr&timezone=Europe%2FBerlin")

data[['lon', 'lat']] = data['coordonnees_geo'].apply(lambda x: pd.Series([x['lon'], x['lat']]))

display(data)

for i in data.head(10).itertuples():
    print(i.fields.stationcode)

,stationcode,name,capacity,coordonnees_geo,lon,lat
0,8103,Artois - Berri,23,"{'lon': 2.306425832211971, 'lat': 48.873935212...",2.306426,48.873935
1,18111,Félix Ziem - Armand Gauthier,25,"{'lon': 2.333393658804396, 'lat': 48.889496304...",2.333394,48.889496
2,9106,Boudreau - Auber,14,"{'lon': 2.329423, 'lat': 48.87219}",2.329423,48.872190
3,17040,Pereire - Ternes,48,"{'lon': 2.288012132048607, 'lat': 48.879739548...",2.288012,48.879740
4,5020,Institut du Monde Arabe - Saint-Germain,40,"{'lon': 2.3558086529374, 'lat': 48.849063299501}",2.355809,48.849063
...,...,...,...,...,...,...
1458,25010,Maréchal Leclerc de Hauteclocque - Marché Buze...,30,"{'lon': 2.192077, 'lat': 48.858446}",2.192077,48.858446
1459,18018,Carpeaux - Place Jacques Froment,19,"{'lon': 2.3309428, 'lat': 48.8906542}",2.330943,48.890654
1460,32023,Guy Môquet - Jean Moulin,30,"{'lon': 2.363948999931771, 'lat': 48.940931521...",2.363949,48.940932
1461,9035,Gare Saint-Lazare - Place de Budapest,44,"{'lon': 2.327339, 'lat': 48.877753}",2.327339,48.877753
1462,26009,Marceau Delorme - Pierre Brossolette,28,"{'lon': 2.295897423568745, 'lat': 48.912060628...",2.295897,48.912061

AttributeError: 'Pandas' object has no attribute 'fields'

In [8]:
data = pd.read_json("https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/velib-disponibilite-en-temps-reel/exports/json?lang=fr&timezone=Europe%2FBerlin")

data = data[['stationcode', 'is_installed', 'numdocksavailable', 'numbikesavailable', 'mechanical', 'ebike', 'nom_arrondissement_communes']]

display(data)

,stationcode,is_installed,numdocksavailable,numbikesavailable,mechanical,ebike,nom_arrondissement_communes
0,16107,OUI,24,11,1,10,Paris
1,12109,OUI,13,16,14,2,Paris
2,31104,OUI,13,16,4,12,Rosny-sous-Bois
3,14014,OUI,55,5,3,2,Paris
4,9020,OUI,17,4,0,4,Paris
...,...,...,...,...,...,...,...
1458,13123,OUI,6,48,44,4,Paris
1459,10026,OUI,36,21,12,9,Paris
1460,18023,OUI,18,14,3,11,Paris
1461,18024,OUI,22,12,6,6,Paris
1462,42004,OUI,15,7,6,1,Ivry-sur-Seine

In [4]:
import datetime
import pytz

# La chaîne de caractères à convertir
date_str = '2021-03-01T12:00:00+01:00'

# Parse la chaîne en un objet de date et heure
date = datetime.datetime.fromisoformat(date_str)

# Convertit le fuseau horaire en heure UTC
utc_date = date.astimezone(pytz.utc)

# Affiche la date et heure UTC au format ISO 8601
print(utc_date.strftime('%Y-%m-%dT%H:%M:%S'))

2021-03-01T11:00:00